@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;


body {
    @include grid-row(); 
    background-color: white;


    header {
        @include grid-column(12); 
        background-color: darkslategrey; 
        width: 100%; 
        height: 50px;
        color: white; 

        h1 {
            @include grid-column(4); 
            float: left; 
            color: darkslategray; 
            font-size: 2em; 
            margin-top: 8%; 
            font-family: 'Pacifico', cursive;
        }

        img {
            @include grid-column(3); 
            height: 100px; 
            width: 140px; 
            float: right; 
            margin-top: 6%; 
            margin-left: 0; 
            margin-right: 7%; 
        } 
    }

    main {
        .search {
            @include grid-column(6); 
            margin-left: 30%; 
            

                input {
                    // @include grid-column(6); 
                    display: inline-block; 
                    margin-top: 10%; 
                    width: 50%; 
                    border: 1px solid darkslategray; 
                    height: 30px; 
                    margin-left: 10%; 
                    margin-right: 0; 
                    border-top-left-radius: 6px; 
                    border-bottom-left-radius: 6px; 

                }

                button {
                    // @include grid-column(2); 
                    display: inline-block; 
                    margin-top: 0; 
                    height: 30px; 
                    margin-right: 25%; 
                    margin-left: 0; 
                    background-color: #EAD637; 
                    border-bottom-right-radius: 6px; 
                    border-top-right-radius: 6px; 
                    width: 40px; 
                    position: relative;
                    bottom: 1px;
                }

                img {
                    height: 16px; 
                    width: 16px; 
                    text-align: center; 
                    margin: 0; 
                }
        }

        .results {
            @include grid-column(12); 

            ul{
                list-style: none;

                .resultItems {
                @include grid-column(3);
                border: 1px solid black;  
                background-color: white;

                h3 {
                    font-size: 3em;
                }
                
                }
            }
            

        }

        .popular {
            @include grid-column(12); 
            border: 1px solid #F8F9F9; 
            background-color: #F8F9F9; 
            position: fixed;
            bottom: 0px;
            height: 200px; 
            left:0px;

            ul{
                list-style: none;
            }
            
            .items {
                @include grid-column(3);
                border: 1px solid black;  
                background-color: white;
            
                h3 {
                    color: blue; 
                }
            }
        }

    }

}

.addcart {
        display: inline-block; 
        height: 30px; 
        margin-left: 0; 
        background-color: #EAD637; 
        border-bottom-right-radius: 6px; 
        border-top-right-radius: 6px; 
        width: 100px; 
        font-size: .8em;
        position: relative;
        bottom: 4px;
}

// .mainView {
//     @include grid-row(); 

//     .search {
//         @include grid-column(6); 
//         margin-left: 30%; 
        

//             input {
//                 // @include grid-column(6); 
//                 display: inline-block; 
//                 margin-top: 10%; 
//                 width: 50%; 
//                 border: 1px solid darkslategray; 
//                 height: 30px; 
//                 margin-left: 10%; 
//                 margin-right: 0; 
//                 border-top-left-radius: 6px; 
//                 border-bottom-left-radius: 6px; 

//             }

//             button {
//                 // @include grid-column(2); 
//                 display: inline-block; 
//                 margin-top: 0; 
//                 height: 30px; 
//                 margin-right: 25%; 
//                 margin-left: 0; 
//                 background-color: #EAD637; 
//                 border-bottom-right-radius: 6px; 
//                 border-top-right-radius: 6px; 
//                 width: 40px; 
//                 position: relative;
//                 bottom: 1px;
//             }

//             img {
//                 height: 16px; 
//                 width: 16px; 
//                 text-align: center; 
//                 margin: 0; 
//             }
//     }

//     .popular {
//         @include grid-column(12); 
//         border: 1px solid #F8F9F9; 
//         background-color: #F8F9F9; 
//         margin-top: 30%; 
//         height: 500px; 
        
//         .items {
//             @include grid-column(3);
//             border: 1px solid black;  
        
//             h3 {
//                 color: blue; 
//             }
//         }
//     }
// }
